html, body {
    font-family: "Architects Daughter", sans-serif;
    text-align: center;
    min-width: 100%;
    margin: 0;
}


.app {
    position: relative;
    display: flex;
}


.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.page > div {
  width: 1000px;
  margin: 0 auto;
}

.page > nav {
    display: flex;
    background-color: #0C3B20;
    line-height: 4em;
    flex-direction: row;
    min-width: 100%;
}

.page > nav > a {
    flex-basis: calc(33.33% - 3em);
    flex-grow: 1;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
}

#gallerybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#searchbox {
  display: flex;
}

.reciperesult {
margin: 10px;
}

#filterpane {
  min-width: 20%;
  max-width: 20%;
}

.tagtype:first-letter {
  text-transform: capitalize;
}

.normal {
  cursor: pointer;
  color: blue;
}

.clicked {
  color: black;
}

.filtertagsbox {
  display: flex;
  flex-wrap: wrap;
}

.filtertagsbox > p {
  margin: 1px;
  border: thin dotted green;
}

.close {
  cursor: pointer;
  color: red;
}

#rightcontent {
  flex-grow: 1;
}
