html, body {
  font-family: "Architects Daughter", sans-serif;
  text-align: center;
  min-width: 100%;
  margin: 0;
}


.app {
  position: relative;
  display: flex;
}


.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}



.page > nav {
  font-family: Arial italic;
  display: flex;
  line-height: 4em;
  flex-direction: row;
  min-width: 100%;
  margin-bottom: 1%;
}

.page > nav > a {
  flex-basis: calc(33.33% - 3em);
  flex-grow: 1;
  color: black;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  border-right: thin dotted black;
  display:flex;
  justify-content:center;
  align-items:center;
}

.page > nav > a:last-child {
  border: none;
}

.page > nav > a > svg{
}

#gallerybox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#searchbox {
  display: flex;
}

.reciperesult {
margin: 10px;
}

#filterpane {
  min-width: 20%;
  max-width: 20%;
}

.tagtype:first-letter {
  text-transform: capitalize;
}

.normal {
  cursor: pointer;
  color: blue;
}

.clicked {
  color: black;
}

.filtertagsbox {
  display: flex;
  flex-wrap: wrap;
}

.filtertagsbox > p {
  margin: 1px;
  border: thin dotted green;
}

.close {
  cursor: pointer;
  color: red;
}



/*Slider CSS*/
.active {
  transition: opacity 3s, padding-left 1s;
  opacity: 1;
  width: 100%;
  order: -1;
  flex-shrink: 0;
  padding-left: 0;
}
/* Having the inactive class set to 0 opacity and width means that
during the transition it will both shrink and disappear */
.inactive {
  transition: opacity 3s, padding-left 1s;
  opacity: 0.6;
  width: 100%;
  order: 2;
  padding-left: 10px;

}

/* Styling for the skip left and right slider buttons */
#slider > div > button {
  border: none;
  background: white;
  flex-shrink: 0;
}

#slider > div > button:hover {
  background: #d5f6e3;
}

#slider > div > button:focus {
  outline: 0;
}

/* The intention with slider inner / outer is to make the slider's
height adjust comparatively to the width, allowing smaller height
on small screens without using media queries */
#sliderOuter {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* padding-bottom determines the size the slider image will expand to
as this is a percentage based on the width it's possible that on very
large screens that the height will expand past the slider */
#sliderInner {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 18%;
  max-height: 5%;
  overflow: hidden;
}


/*Title icon*/
#title-icon {
  border: thin dotted black;
  border-radius: 100%;
  display: inline-block;
  font-size: 2.5vw;
  padding: 2%;
  margin: 1%;
  font-family: Arial italic;
}

/*Styles for homepage content blocks*/
.content-list {
  padding-left: 3%;
  padding-right: 3%;
}

.show-next-block {
  flex-basis: 100%;
}

.show-next-button {
  border: none;
  background: white;
  font-size: large;
  font-family: Arial italic;
  margin: 1%;
}

.show-next-button:hover {
  background: #d5f6e3;
}

.show-next-button:focus {
  outline: 0;
}

.content-shown {
  transition: opacity 1.2s ease-in-out;
  opacity: 1;
  flex-wrap: wrap;
}


.content-hidden {
  background: green;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}

#rightcontent {
  flex-grow: 1;
}

#recipefullpageblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-fullpage-text {
  max-width: 400px;
}

.recipe-fullpage-text  > p {
  margin-left: 5%;
}

#recipefullpageblock > div > img {
  min-height: 350px;
  max-width: 350px;
}

.recipe-fullpage-text > ul {
  list-style: none;
  text-align: left;
}

.postscript {
  color: gray;
  font-size: medium;
}
