html, body {
    font-family: "Architects Daughter", sans-serif;
    text-align: center;
    min-width: 100%;
    margin: 0;
}

 
.app {
    position: relative;
    display: flex;
}


.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}



.page > nav {
    font-family: Arial italic;
    display: flex;
    line-height: 4em;
    flex-direction: row;
    min-width: 100%;
    margin-bottom: 1%;
}

.page > nav > a {
    flex-basis: calc(33.33% - 3em);
    flex-grow: 1;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    border-right: thin dotted black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.page > nav > a:last-child { 
  border: none;
}

.page > nav > a > svg{
}

#gallerybox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#searchbox {
  display: flex;
}

.reciperesult {
margin: 10px;
}

#filterpane {
  min-width: 20%;
  max-width: 20%;
}

.tagtype:first-letter {
  text-transform: capitalize;
}

.normal {
  cursor: pointer;
  color: blue;
}

.clicked {
  color: black;
}

.filtertagsbox {
  display: flex;
  flex-wrap: wrap;
}

.filtertagsbox > p {
  margin: 1px;
  border: thin dotted green;
}

.close {
  cursor: pointer;
  color: red;
}

#rightcontent {
  flex-grow: 1;
}

#recipefullpageblock {
  display: flex;
}
#recipefullpagetext > ul {
  list-style: none;
  text-align: left;
  margin-left: 40px;
}

.postscript {
  color: gray;
  font-size: medium;
}

/*Slider CSS*/
.active {
/*  transition: opacity 0s, width 0.5s, height 0s;
  opacity: 1;
  width: 100%;*/

  transition: left 0.5s, opacity 0.5s;
  left: 0px;
  opacity: 1;
}
/* Having the inactive class set to 0 opacity and width means that
during the transition it will both shrink and disappear */
.inactive {
/*  transition: opacity 0s, width 0.5s;
  opacity: 0;
  width: 0%;*/

  transition: left 0.5s, opacity 0.5s;
  left: 1000px;
  opacity: 0;


}



/* Styling for the skip left and right slider buttons */
#slider > div > button {
  border: none;
  background: white;
}

#slider > div > button:hover {
  background: #d5f6e3;
}

/* The intention with slider inner / outer is to make the slider's
height adjust comparatively to the width, allowing smaller height
on small screens without using media queries */
#sliderOuter {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* padding-bottom determines the size the slider image will expand to
as this is a percentage based on the width it's possible that on very 
large screens that the height will expand past the slider */
#sliderInner {
  padding-bottom: 18%;
  max-height: 5%;
}


/*Title icon*/
#title-icon {
  border: thin dotted black;
  border-radius: 100%;
  display: inline-block;
  font-size: 2.5vw;
  padding: 2%;
  margin: 1%;
  font-family: Arial italic;
}